[Unit]
Description=Pterodactyl Wings Daemon
{# Hidden switch to disable binding to the docker service for testing purposes. This service may not exist with podman. Not intended for public use #}
{% if _pterodactyl_wings_systemd_dockerbind | default(true) %}
After=docker.service
Requires=docker.service
PartOf=docker.service
{% endif %}

[Service]
User=root
WorkingDirectory={{ pterodactyl_wings_config_dir }}
LimitNOFILE=4096
PIDFile=/var/run/wings/daemon.pid
ExecStart=/usr/local/bin/wings
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
