---
# tasks file for pterodactyl_panel
- name: Check variables
  ansible.builtin.include_tasks: check_vars.yml
- name: Check version
  ansible.builtin.include_tasks: check_version.yml
- name: Check install
  ansible.builtin.include_tasks: check_install.yml

- name: Install dependencies
  ansible.builtin.include_tasks: panel_deps.yml
  when: pterodactyl_panel_install_dependencies | bool
- name: Configure Redis
  ansible.builtin.include_tasks: redis.yml

- name: Get package stats
  ansible.builtin.package_facts:
- name: Set php version
  ansible.builtin.set_fact:
    _pterodactyl_panel_php_version: "{{ ((ansible_facts.packages['php'].0.version | split(':')).1 | split('+')).0 }}"

- name: Prepare Panel install
  ansible.builtin.include_tasks: panel_config.yml

- name: Install panel
  ansible.builtin.include_tasks: panel_install.yml
  when: not pterodactyl_panel_install_exists
- name: Upgrade Panel version
  ansible.builtin.include_tasks: panel_upgrade.yml
  when:
    - pterodactyl_panel_install_exists
    - pterodactyl_panel_installed_version != pterodactyl_panel_desired_version

- name: Install panel workers
  ansible.builtin.include_tasks: panel_workers.yml

- name: Create self-signed certificate
  ansible.builtin.include_tasks: web_cert_selfsign.yml
  when: _pterodactyl_panel_ssl_mode == "selfsign"
- name: Configure apache2
  ansible.builtin.include_tasks: web_apache2.yml
  when: pterodactyl_panel_manage_webserver and pterodactyl_panel_webserver == "apache2"
- name: Configure nginx
  ansible.builtin.include_tasks: web_nginx.yml
  when: pterodactyl_panel_manage_webserver and pterodactyl_panel_webserver == "nginx"
