- name: Default config is disabled
  file:
    path: /etc/apache2/sites-enabled/000-default.conf
    state: absent
  notify: Restart apache2

- name: Site config is installed
  template:
    src: pterodactyl.conf.apache2.j2
    dest: /etc/apache2/sites-available/pterodactyl.conf
    owner: root
    group: root
    mode: "644"
  notify: Restart apache2

- name: Site config is enabled
  file:
    src: /etc/apache2/sites-available/pterodactyl.conf
    dest: /etc/apache2/sites-enabled/pterodactyl.conf
    state: link
    owner: root
    group: root
  notify: Restart apache2

- name: Look for enabled rewrite module
  stat:
    path: /etc/apache2/mods-enabled/rewrite.load
  register: pterodactyl_panel_apache2_rewrite
- name: Enable rewrite module # noqa no-changed-when
  command: a2enmod rewrite
  notify: Restart apache2
  when: not pterodactyl_panel_apache2_rewrite.stat.exists

- name: Look for enabled ssl module
  stat:
    path: /etc/apache2/mods-enabled/ssl.load
  register: pterodactyl_panel_apache2_ssl
- name: Enable rewrite module # noqa no-changed-when
  command: a2enmod ssl
  notify: Restart apache2
  when: not pterodactyl_panel_apache2_ssl.stat.exists

- name: Apache service is enabled
  systemd:
    name: apache2.service
    enabled: yes
